*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.base{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: -2px;
    box-shadow: inset 1px 1px 5px black;
}
.edit-4{
    position:absolute;
    transform:translate(-50%,-50%);
}
body{
    background-image: radial-gradient(circle, #a63b76, #814484, #594a85, #324b7a, #174867, #13415a, #123b4e, #133442, #0f2c3c, #0d2435, #0c1c2e, #0b1427);
}